[Unit]
Description=Prewarm Crypto Engine runtime features every 5 minutes

[Timer]
OnCalendar=*-*-* *:00/5:23
AccuracySec=1s
RandomizedDelaySec=0
Persistent=false
Unit=execution-engine-prewarm.service

[Install]
WantedBy=timers.target
